@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Nunito+Sans:wght@400;600&display=swap");

@import "tailwindcss";

@theme {
  /*Colors*/

  --color-h1color: #0f172a;
  --color-h2color: #1e293b;
  --color-bodyprimary: #475569;
  --color-bodysecondary: #64748b;
  --color-buttoncolor: #2563eb;
  --color-white: #ffffff;
  --color-bordercolor: #cbd5e1;
  --color-yellowAccent: #ffd28f;
  --color-greenAccent: #a3e4d7;
  --color-pinkAccent: #ffc1b6;
  --color-buttoncolor2: #eeeeee;

  /*Fonts*/

  --font-poppins: "Poppins", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;

  /* Text sizes */

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */

  /* shadow */

  --shadow-card: 0 2px 6px 2px rgb(60 64 67 / 0.15);
}

@utility scrollbar-hide {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}